body{
  margin: 0px;
  padding: 0px;
  background-color: rgb(194, 221, 233);
}
.login{
  
  text-align: center;
   ;
}
.myForm{

  text-align: center;
  border: 4px solid rgb(195, 88, 184);
  border-radius: 14px;
  background-color: rgb(121, 130, 37);
  padding: 20px 0px;
}

.rootdiv{
padding: 20px;
}
.myInput{
   margin: 10px;
   
}
.btn{
  margin: 10px;
  width: 100px;
  padding: 4px 0px;
  font-size: 14px;
}